<!--Exercice : Composant avec : 
- Champs textarea avec un compteur de caratère
- Quand le nombre de caratère atteint 140, la bordure devient rouge et il n'est plus possible d'écrire
- un message d'erreur s'affiche en dessous du text-area 
- bouton qui permet de valider, cliquable à partir 1 caractère.--><div class='container'>
  <!--<div class="row">
    <div class="col-md-8">
      <app-hello></app-hello> appel de notre composant
    </div>
      <div class="col-md-4">
      </div>
  </div>
</div>-->
<app-area [tailleMax]="40"></app-area>
<app-area [nomButton]="'Envoyer'"></app-area>
</div>



