<h1 [style.color]="message == 'Hello'?'red' :'green'"> <!-- [] = property binding-->
      <!--Si message == Hello h1 s'affiche en rouge sinon en vert-->
     Welcome to {{ title }}! <!-- {{ = string interpolation, obligatoirement une chaine de caractère-->
   </h1>
   <input class='form-control' type="text" [(ngModel)]="message">{{ message }}

   <button class="btn btn-primary" [disabled]="!message" >Valider</button>

   <h2 [innerHTML]="'<span>Hi everyone</span>'"></h2>

   <p [style.color]="changeColor()">{{message}} {{changeColor()}}</p> <!--Appel de la fonction-->
   <!--<app-hello></app-hello> Selecteur déclaré dans le Hello.component.ts-->
   <!-- <div app-hello></div> Selecteur sous forme d'attribut -->
   <div class="app-hello"></div> <!--Selecteur sous forme de class-->
     <h3 [class]="'favoriteColor'">Texte</h3><!--Appel de la class.css-->
     <h3 [ngStyle]="{'color': 'green'}">Texte</h3>
     <h3 [ngClass]="{'favoriteColor': 1==1}">Texte</h3>
   {{data}} <!--N'est pas un string donc renvoie objet-->
     <br>
     {{dataTest}} <!--Tableau est plus ou moins interprété-->
     <br>
     {{1+1}}
     <br>
     {{'Le résultat est : ' + (1 + 3)}} <!--affiche la string + valeur du calcul-->
   
   <hr>
   <h2 (click)="clickMe($event)"> Formulaire</h2><!--Evenement binding-->
   <!--Par rapport au input suivant, ne fait qu'emettre mais ne recoit pas-->
   <input type='text' (input)="changeName($event)"/>
   <p>{{name}}</p>
   <!-- two-way data binding - NgModel uniquement sur input, le input recoit et emet le changement( mode d'entrée/sortie-->
   <input type="text" [(ngModel)]="name"/>

   <hr>
   <!--directive structurelle, * permet d'impacter le DOM -->
   <p *ngIf="true"> <!--le texte s'affiche, avec false non-->
     Lorem ipsum dolor sit amet.
   </p>
   <!--# déclaration de variable -->
   <ng-template #myTpl> <!--composant avec une référence sur notre objet (myTpl)-->
     <h4>Template caché</h4>
   </ng-template>
   <!--Si name, affiche name, sinon ng-template-->
   <div *ngIf="name; else myTpl">
     {{name}}
   </div>
   <hr>

   <input type='text' [(ngModel)]="color"/>
   <div [ngStyle]="{'backgroundColor' : colorInput()}">
     Du texte dedans

   </div>

